body {
    height: 100%;
    min-width: 400px;
    background: linear-gradient(180deg, rgb(250, 0, 0) 0%, rgb(250, 250, 0) 50%, rgb(0, 0, 250)100%);
}
#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div-header {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}

#employee-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-employee {
    margin-top : 2rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.employee-img-name {
    border: none;
    display: flex;
    flex-direction: row;
}
.employee-name {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 1rem;
    padding-left: 4rem;
    font-size: 32;
    justify-content: center;
}
.employee-img {
    width: 40%;
    height: 191.2px;
    object-fit: cover;
    border-radius: 50%;
}
.employee-email-birthday {
    padding: 0px 16px;
}
.employee-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
hr {
    width: 90%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(78, 77, 77);
    border: 0 none;
}
#add-container {
    width: 80%;
    display: flex;
    justify-content: start;
}
.date-and-image-path {
    display: flex;
    flex-direction: column;
}

#gender1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dropdown{
    background-color: white;
}
.filterLabels{
    font-size: 18px;
    padding: 6px 12px;
    vertical-align: center;
    font-weight: bold;
}
.searchInput {
    margin-left: 2rem;   
}
